*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #360b85;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header{
    width: 100%;
    height: 600px;
    background: #048af8;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 100%, 0.397), #5c0dc4), url(../Imagenes/portada.jpg);  
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 100%, 0.397), #5c0dc4), url(../Imagenes/portada.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    background-attachment: fixed;
}
.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 80px;
    color:#fff;
}

.textos-header h2{
    font-size: 50px;
    font-weight: 300;
    color:#fff;
}

/* CONTENEDOR DOCUMENTACION */

.contenedor-documentacion {
    display: flex;
    padding: 15px;
}
.contenedor-documentacion {
    width: 1000px;
    height: 600px;
    text-align: center;
    justify-content: center;
    position: relative;
}

.contenedor-video {
    height: 600px;
    width: 1000px;
    background: #f2f2f2;
}